body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

.none {
    display: none !important;
}

.unselectable {
    user-select: none;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    margin: 28px 0 14px 0;
    text-align: center;
    letter-spacing: 1.4px;
}

#sub-title {
    margin: 0 0 24px 0;
    color: rgb(51, 51, 51);
    letter-spacing: 3px;
}

.blue {
    color: rgb(0, 160, 253);
}

.green-feedback {
    color: #4cf74c !important;
    fill: #4cf74c !important;
}

#board-box {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 16px 0;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
    width: 350px;
    height: 350px;
    background-color: #111;
}



#board .square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32%;
    height: 32%;
    background-color: #262626;
    border-radius: 4px;
}

#board .square:hover {
    background-color: #292929;
}

.mark {
    fill: white;
    width: 34%;
    height: 34%;
}

.light-mark { /* used  */
    fill: #3a3a3a;
}

#me {
    font-weight: bold;
    color: #111;
    text-decoration: none;
}

#meta-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#results-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 12px;
}

#results-box .result-box {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 8px 15px;
    background-color: #262626;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.selected-result-box {
    background-color: #333 !important;
}

#results-box .icon {
    width: 14px;
    height: 14px;
    color: white;
    fill: white;
}

#game-status-feedback {
    display: flex;
    color: rgb(240, 240, 240);
    fill: rgb(240, 240, 240);
    margin: 4px 0 12px 0;
}

#game-status-feedback .icon {
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

#game-status-feedback .feedback {
    display: flex;
    align-items: center;
    font-size: 12px;
}

#restart-game {
    margin-top: 12px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.4px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}